<template name="rowEdit">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            {{#autoForm collection="Rows" id="editRowForm" type="method"  meteormethod="rowEdit" doc=this}}
                <fieldset>
                    <legend>Изменение показаний за {{getMonthYear}}</legend>
                    {{> afQuickField name='month' type='hidden'}}
                    {{> afQuickField name='year'  type='hidden'}}
                    {{> afQuickField name='coldwater1'}}
                    {{> afQuickField name='coldwater2'}}
                    {{> afQuickField name='hotwater1'}}
                    {{> afQuickField name='hotwater2'}}
                    {{> afQuickField name='electricity'}}
                    {{> afQuickField name='electricity_direct'}}
                    {{> afQuickField name='comment'}}
                </fieldset>
                <button type="submit" class="btn btn-primary">Изменить</button>
            {{/autoForm}}

        </div>
    </div>
</template>