<template name="rowItemCheckbox">
    <div class="checkbox">
        <label>
            <input type="checkbox" disabled="disabled" checked="{{electricity_direct}}">
            <span class="checkbox-material">
                <span class="check"></span>
            </span>
        </label>
    </div>
</template>



<template name="rowItemPeriod">
    <a href="{{pathFor 'rows.edit'}}">{{getMonthCaption month}} {{year}}</a>
</template>

<template name="rowItemUserViewLink">
    {{#if isInRole 'admin'}}
    <a href="{{pathFor 'admin.userview' _id=userId}}">{{getEmail}}</a>
    {{else}}
        {{getEmail}}
    {{/if}}
</template>